h1 {
  text-align: left;
}

h2 {
  text-align: center;
}

h3 {
}

h4 {
  text-align: left;
}

.container img {
  width: 15%;
  height: auto;
  float: right;
}

.projects {
  border: 4px solid black
}
