h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 6px;
  border: 4px solid black;

}

h4 {
  text-align: left;
}

.container img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.projects {
  padding: inherit;
  border: 4px solid black
}

.tavish {
  width: 50%;
  float: left;
  padding: 6px;
}

body {
  font-family: courier, monospace;
  margin: 15px;
  background-color: #ECF0F1
}

.jumbotron {
  background-color:  #85C1E9;
}

.resume {
  float: left;
  width:70%;
  padding: 6px;
}

.work img {
  float: right;
  width:20%
}

.special {
  color: blue;
}
